//Global Styles
.bar {
  background-color: rgba(0, 0, 0, 0);
  padding: 3px;
}

.widget {
  font-family: "Iosevka Fixed Semibold";
  font-size: 12px;
  color: #363a4f;

  margin-top: 10;
  padding-left: 5;
  padding-right: 5;

  background-color: #E4B281;
  border: 1px solid #DF6B54;
  border-radius: 3;
}
