//Global Styles
.bar {
  background-color: rgba(0, 0, 0, 0);
  padding: 3px;
}

.widget {
  font-family: "Iosevka Fixed Semibold";
  font-size: 19px;
  color: #D1CDC1;

  margin-top: 10;
  padding-left: 6;
  padding-right: 6;

  background-color: #773c4f;
  border-radius: 4;
}
